<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
    default-lazy-init="false">

    <!--<bean name="user" class="cn.eason.bean.User" init-method="init" destroy-method="destory">
        <property name="name" value="Eason" />
        <property name="age" value="32" />
        &lt;!&ndash;引用类型&ndash;&gt;
        <property name="car" ref="car"/>
    </bean>-->

    <bean class="cn.itheima.dao.impl.CustomerDaoImpl" name="customerDao" />
    <bean class="cn.itheima.dao.impl.LinkManDaoImpl" name="linkManDao" />
    <bean class="cn.itheima.dao.impl.UserDaoImpl" name="userDao" />

    <bean class="cn.itheima.service.impl.LinkManServiceImpl" name="service">
        <property name="cd" ref="customerDao" />
        <property name="lmd" ref="linkManDao" />
    </bean>
    <bean class="cn.itheima.service.impl.CustomerServiceImpl" name="customerService">
        <property name="customerDao" ref="customerDao" />
    </bean>
    <bean class="cn.itheima.service.impl.UserServiceImpl" name="userService">
        <property name="ud" ref="userDao" />
    </bean>
    
    <context:component-scan base-package="cn.itheima"/>
</beans>
