<?xml version="1.0" encoding="UTF-8"?>
<beans default-lazy-init="false" xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context
			 http://www.springframework.org/schema/context/spring-context.xsd   http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <context:property-placeholder location="classpath:conf/*.properties" />

    <context:component-scan base-package="cn.e3mall.sso.service.impl" />

    <!--发布的服务名字-->
    <dubbo:application name="e3-manager" />
    <!--服务注册中心的地址，集群环境下可以指定多个 address-->
    <dubbo:registry address="localhost:2181" protocol="zookeeper" />

    <!--用 dubbo 协议在端口发布服务-->
    <dubbo:protocol name="dubbo" port="20885" />
    <!--声明需要暴露的服务接口-->
    <dubbo:service interface="cn.e3mall.sso.service.RegisterService" ref="registerService" />
    <dubbo:service interface="cn.e3mall.sso.service.LoginService" ref="loginService" />
    <dubbo:service interface="cn.e3mall.sso.service.TokenService" ref="tokenService" />

    <import resource="applicationContext_activeMq.xml" />
    <import resource="applicationContext-trans.xml" />
    <import resource="applicationContext_jedis.xml" />
</beans>