<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
    xmlns:tx="http://www.springframework.org/schema/tx" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context
			 http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd"
    default-lazy-init="false">

    <context:component-scan base-package="cn.e3mall.service" />

    <!--配置事务-->
    <!-- 事务管理器 -->
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
        p:dataSource-ref="datasource" />
    <tx:annotation-driven transaction-manager="txManager" />

    <!--发布的服务名字-->
    <dubbo:application name="e3-manager" />
    <!--服务注册中心的地址，集群环境下可以指定多个 address-->
    <dubbo:registry protocol="zookeeper" address="localhost:2181" />

    <!--用 dubbo 协议在端口发布服务-->
    <dubbo:protocol name="dubbo" port="20880" />
    <!--声明需要暴露的服务接口-->
    <dubbo:service interface="cn.e3mall.service.ItemService" ref="itemServiceImpl" />
    <dubbo:service interface="cn.e3mall.service.ItemCatService" ref="itemCatServiceImpl" />
</beans>