<?xml version="1.0" encoding="UTF-8"?>
<beans default-lazy-init="false" xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 真正可以产生Connection的ConnectionFactory，由对应的 JMS服务厂商提供 -->
    <bean class="org.apache.activemq.ActiveMQConnectionFactory" id="targetConnectionFactory">
        <property name="brokerURL" value="tcp://localhost:61616" />
    </bean>
    <!-- Spring用于管理真正的ConnectionFactory的ConnectionFactory -->
    <bean class="org.springframework.jms.connection.SingleConnectionFactory" id="connectionFactory">
        <!-- 目标ConnectionFactory对应真实的可以产生JMS Connection的ConnectionFactory -->
        <property name="targetConnectionFactory" ref="targetConnectionFactory" />
    </bean>
    <!-- 配置生产者 -->
    <!-- Spring提供的JMS工具类，它可以进行消息发送、接收等 -->
    <bean class="org.springframework.jms.core.JmsTemplate" id="jmsTemplate">
        <!-- 这个connectionFactory对应的是我们定义的Spring提供的那个ConnectionFactory对象 -->
        <property name="connectionFactory" ref="connectionFactory" />
    </bean>

    <!--这个是队列目的地，点对点的 -->
    <bean class="org.apache.activemq.command.ActiveMQQueue" id="queueDestination">
        <constructor-arg value="spring-queue" />
    </bean>

    <!--这个是主题目的地，一对多的 -->
    <bean class="org.apache.activemq.command.ActiveMQTopic" id="topicDestination">
        <constructor-arg value="itemAddTopic" />
    </bean>

</beans>