<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
    xmlns:aop="http://www.springframework.org/schema/aop" xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"
    default-lazy-init="false">

    <!--<bean name="user" class="cn.eason.bean.User" init-method="init" destroy-method="destory">
        <property name="name" value="Eason" />
        <property name="age" value="32" />
        &lt;!&ndash;引用类型&ndash;&gt;
        <property name="car" ref="car"/>
    </bean>-->

    <!-- <bean name="user" class="cn.eason.bean.User" init-method="init" destroy-method="destory">
         <constructor-arg name="name" value="Eason" index="0" type="java.lang.String" />
         <constructor-arg name="age" value="32" />
         &lt;!&ndash;引用类型&ndash;&gt;
         <constructor-arg name="car" ref="car" />
     </bean>

     <bean name="user4" class="cn.eason.bean.User" p:name="Eason" p:age="32" p:car-ref="car" />

     <bean name="car" class="cn.eason.bean.Car" />

     <bean name="user2" class="cn.eason.spring.BeanFactory" factory-method="CreateUser" />
     <bean name="user3" factory-bean="useFactory" factory-method="createUser2" />
     <bean name="useFactory" class="cn.eason.spring.BeanFactory" />


     <bean class="cn.eason.bean.CollectionBeans" name="cb">
         <property name="arr">
             <array>
                 <value>jack</value>
                 <value>rosi</value>
                 <ref bean="user" />
             </array>
         </property>
         <property name="list">
             <list>
                 <value>jack</value>
                 <value>roce</value>
                 <ref bean="car" />
             </list>
         </property>
     </bean>-->

    <context:component-scan base-package="cn.eason" />
    <!--注入多个实例-->
    <bean name="car2" class="cn.eason.bean.Car" p:name="布加迪威龙" p:color="白色" />


    <bean class="cn.eason.service.impl.LoginServiceImpl" name="loginServiceTarget" />

    <bean class="cn.eason.springaop.MyAdvice" name="advice" />

    <aop:config>
        <!--配置切入点-->
        <aop:pointcut id="pc" expression="execution(* cn.eason.service.impl.*ServiceImpl.*(..))" />
        <aop:aspect ref="advice">
            <aop:before method="before" pointcut-ref="pc" />
            <!--异常不执行-->
            <aop:after-returning method="afterReturning" pointcut-ref="pc"/>
            <!--环绕-->
            <aop:around method="around" pointcut-ref="pc"/>
            <!--出现异常执行-->
            <aop:after-throwing method="afterException" pointcut-ref="pc"/>
            <!--后置,异常也会执行-->
            <aop:after method="after" pointcut-ref="pc"/>
        </aop:aspect>
    </aop:config>
</beans>
