<?xml version="1.0" encoding="UTF-8"?>
<beans default-autowire="byName" xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
    xmlns:duboo="http://code.alibabatech.com/schema/dubbo" xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <context:property-placeholder location="classpath:conf/resource.properties" />

    <context:component-scan base-package="cn.e3mall.order.controller" />
    <!-- 注解驱动 -->
    <mvc:annotation-driven />


    <!-- 配置Conveter转换器  转换工厂 （日期、去掉前后空格)
    <bean class="org.springframework.format.support.FormattingConversionServiceFactoryBean"
        name="formattingConversionService">
        <property name="converters">
            <list>
                <bean class="cn.eason.conversion.DateConversion" />
            </list>
        </property>
    </bean>-->

    <!--视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/" />
        <property name="suffix" value=".jsp" />
    </bean>

    <!--静态资源映射-->
    <mvc:resources location="/css/" mapping="/css/**" />
    <mvc:resources location="/js/" mapping="/js/**" />

    <!--拦截器-->
    <mvc:interceptors>
        <!--登录拦截器-->
        <mvc:interceptor>
            <mvc:mapping path="/**" />
            <bean class="cn.e3mall.order.interceptor.LoginInterceptor" />
        </mvc:interceptor>
    </mvc:interceptors>

    <!--客户端名称-->
    <dubbo:application name="e3-order-web" />

    <!--注册中心地址-->
    <duboo:registry address="localhost:2181" protocol="zookeeper" />

    <!--使用的服务名称,会从服务中心找 Id 对应的服务-->
    <dubbo:reference id="cartService" interface="cn.e3mall.cart.service.CartService" />
    <dubbo:reference id="tokenService" interface="cn.e3mall.sso.service.TokenService" />
    <dubbo:reference id="orderService" interface="cn.e3mall.order.service.OrderService" />

</beans>